$stepDefault: #9F9F9F;
$stepActive: #FA9E49;
$stepHover: #2354ac;
$stepSize: 16px;

@mixin stepSize($size) {
  font-size: $size;
  width: $size;
  height: $size;
  line-height: $size;
}

.rating-widget {
  display: inline-block;
  cursor: pointer;
}

.rating-widget--disabled {
  cursor: default;
}

.rating-widget__step {
  position: relative;
  display: inline-block;
  margin-right: 2px;

  @include stepSize($stepSize);

  &:before,
  &:after {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    content: '\2605';
  }

  &:before {
    color: $stepActive;
    z-index: 10;
    width: 0;
  }

  &:after {
    color: $stepDefault;
    z-index: 5;
  }
}

.rating-widget__step--hover {
  &:before {
    color: $stepHover;
  }
}

.rating-widget__step--whole {
  &:before {
    width: 100%;
  }
}

.rating-widget__step--half {
  &:before {
    width: 50%;
  }
}
